<p>Day05/Case03</p>

<form action="/Day05/Case01"
      method="post">
    <p>
        <label>訂單日期：</label>
        <input type="date"
               name="OrderDate">
    </p>
    <div>
        <p>訂單項目</p>
        <p>
            <input type="hidden"
                   name="Items.index"
                   value="2">
            <label>項目1：</label>
            <input type="text"
                   name="Items[2]">
        </p>
        <p>
            <input type="hidden"
                   name="Items.index"
                   value="1">
            <label>項目2：</label>
            <input type="text"
                   name="Items[1]">
        </p>
        <p>
            <input type="hidden"
                   name="Items.index"
                   value="a">
            <label>項目3：</label>
            <input type="text"
                   name="Items[a]">
        </p>
    </div>
    <p>
        <button type="submit">送出</button>
    </p>
</form>

<p><a asp-action="Index" >回上一層</a></p>
