<p>Day05/Index</p>

<p><a asp-action="Case01" >Case01</a></p>
<p><a asp-action="Case02" >Case02</a></p>
<p><a asp-action="Case03" >Case03</a></p>

<p><a asp-controller="Home" asp-action="Index" >回上一層</a></p>
