<p>Day03/Case01</p>

<form action="/Day03/Case01"
      method="post">
    <p>
        <label>編號：</label>
        <input type="number"
               step="1"
               min="0"
               name="id">
    </p>
    <p>
        <label>姓名：</label>
        <input type="text"
               name="name">
    </p>
    <p>
        <button type="submit">送出</button>
    </p>
</form>

<p><a asp-action="Index" >回上一層</a></p>
