@model Project.Models.Day22.ViewModel
<style>
  [v-cloak] {
    display: none;
  }
</style>

<p>Day22/Case01</p>

<div id="app" v-cloak>
    <form autocomplete="off"
          v-on:submit.prevent="submit_form">
        <p>
            <label for="OrderDate">訂單日期</label>
            <input type="date"
                   v-model="vue_model.OrderDate"
                   id="OrderDate" />
        </p>
        <div>
            <label>訂單項目</label>
            <table>
                <thead>
                <tr>
                    <th>
                        <label>名稱</label>
                    </th>
                    <th>
                        <label>數量</label>
                    </th>
                    <th>
                        <button type="button"
                                v-on:click="add_item">
                            新增
                        </button>
                    </th>
                </tr>
                </thead>
                <tbody>
                <tr v-for="(item, index) in vue_model.Items"
                    v-bind:key="index">
                    <td>
                        <input type="text"
                               v-model="item.Name" />
                    </td>
                    <td>
                        <input type="number"
                               step=1
                               min=0
                               v-model="item.Quantity" />
                    </td>
                    <td>
                        <button type="button"
                                v-on:click="del_item(index)">
                            刪除
                        </button>
                    </td>
                </tr>
                </tbody>
            </table>
        </div>
        <p>
            <button type="submit">送出</button>
        </p>
    </form>

    <p>
        <a v-bind:href="prev_url">回上一層</a>
    </p>
</div>

@section Scripts
{
    <partial name="_Antiforgery"/>
    <script>
      const app = createApp({
        setup(){

          const post_url = '@Url.Action("PostCase01")';
          const prev_url = '@Url.Action("Index", "Home")';

          const vue_model = reactive(@Html.Raw(Model.ToJson()));
          const empty_item = @(Html.Raw(ViewBag.EmptyItemJson));

          const add_item = function() {
              const cloned_empty_item = JSON.parse(JSON.stringify(empty_item));
              vue_model.Items?.push(cloned_empty_item);
          }

          const del_item = function(index) {
              vue_model.Items?.splice(index, 1);
          }

          const submit_form = function() {
            fetch(post_url, {
                method: 'POST',
                headers: {
                  'Content-Type': 'application/json',
                  'RequestVerificationToken' : Antiforgery.RequestVerificationToken
                },
                body: JSON.stringify(vue_model),
              })
            .then(response => response.json())
            .then(data => {
                vue_model.OrderDate = data?.OrderDate?.split('T')[0];
                vue_model.Items = data?.Items;
            });
          }

          return {
              post_url,
              prev_url,

              vue_model,

              add_item,
              del_item,
              submit_form,
          }
        }
      });

      const vm = app.mount('#app');
    </script>
}
