@using Project.Models.Day12
@using System.Linq
@model ViewModel
<p>Day12/Case01</p>

<form asp-action="Case01"
      method="post">
    <p>
        <label asp-for="OrderDate"></label>
        <input type="date"
               asp-for="OrderDate" />
    </p>
    <div>
        <label asp-for="Items"></label>
        <table>
            <thead>
            <tr>
                <th>
                    <label asp-for="Items.FirstOrDefault().Name"></label>
                </th>
                <th>
                    <label asp-for="Items.FirstOrDefault().Quantity"></label>
                </th>
            </tr>
            </thead>
            <tbody>
            @for (int i = 0; i < Model.Items?.Length; i++)
            {
                <tr>
                    <td>
                        <input type="text"
                               asp-for="Items[i].Name" />
                    </td>
                    <td>
                        <input type="number"
                               step=1
                               min=0
                               asp-for="Items[i].Quantity" />
                    </td>
                </tr>
            }
            </tbody>
        </table>

    </div>
    <p>
        <button type="submit">送出</button>
    </p>
</form>

<p>
    <a asp-action="Index">回上一層</a>
</p>
